@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-size: 9pt;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #006A4E;
}

.nav-container a {
  color: white;
  width: 30px;
}

.nav-container a img {
  width: 100%;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #B8D5CD;
  font-weight: bold;
  white-space: nowrap;
  margin: 1em 0 0 2em;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  display: block;
  padding: 0 2em;
  width: 100px;
  white-space: nowrap;
  margin-top: 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(#5CA08E), to(#73cab3));
  background: linear-gradient(to right, #5CA08E, #73cab3);
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
  padding-bottom: 0;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
}

.meet span {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 1em;
}

.scroll {
  width: 30px;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #006A4E;
  letter-spacing: .2em;
  font-size: 0.85em;
}

.skills {
  background: #b8d5cd;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 100px;
}

.skills-container ul li .icon-container.two {
  width: 150px;
}

.skills-container ul li .icon-container.three {
  width: 100px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.btn {
  display: block;
  padding: 1em 2em;
  background: #f3f3f3;
  border-radius: 2em;
  margin-top: 1em;
}

@media only screen and (min-width: 800px) {
  .portfolio {
    text-align: left;
  }
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    padding-top: 5em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% auto;
        grid-template-columns: 80% auto;
  }
  .nav-container header {
    background: #006A4E;
  }
  .header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 4em;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    float: right;
  }
  .social-header ul li img {
    width: 40px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% auto;
        grid-template-columns: 80% auto;
  }
  .hero .content {
    background: -webkit-gradient(linear, left top, right top, from(#5CA08E), to(#6dc0aa));
    background: linear-gradient(to right, #5CA08E, #6dc0aa);
    padding: 6em 8em 6em 4em;
    text-align: left;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .meet span {
    margin: 1em 1em 0 0;
  }
  .hero-design {
    display: unset;
    margin-left: -40%;
    margin-top: 15%;
    width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  section {
    padding: 10em 10em 4em 10em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(337px, -254px);
            transform: translate(337px, -254px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(337px, -240px);
            transform: translate(337px, -240px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(337px, -254px);
            transform: translate(337px, -254px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(337px, -240px);
            transform: translate(337px, -240px);
  }
}
/*# sourceMappingURL=main.css.map */